.sf-dropdown-select {
  
}

.sf-dropdown-select .ant-select {
  width: 100%;
  height: 100%;
}

.sf-dropdown-select .ant-select .ant-select-selector {
  height: 100%;
}

.sf-dropdown-select .ant-select-selection-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
