DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=qixiang_wms
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_DEFAULT_SCHEMA=public
LOCAL_FILE_STORAGE_PATH=/tmp/data

RAPID_LICENSE_ENCRYPTION_KEY="fH0GK4hN0TbDq1gOdSWIq8dNe/s4WKuwETeV3dHowSg="
RAPID_LOG_LEVEL=info

DISABLE_CRON_JOB=true
EXPRESS_LOG_DISABLED=false